* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dashed;
}

:root {
    --bl-primary-color: #ff6900;
    --bl-secondary-color: #1a1a1a;
    --bl-accent-color: #ff0000;
    --bl-detail-color: #008000;
    --bl-lighter-color: #90877f;
}


/*header*/

header {
    background-color: var(--bl-primary-color);
    min-height: 80px;
    width: 100%;
    padding: 1rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
        display: inline;
        text-decoration: none;
        padding: 1rem;
    }

    a:hover {
        text-decoration: underline;
    }

    .boolean-logo {
        max-height: 40px;
    }

    i {
        color: white;
        padding: 1rem;
    }

}

/*main*/

.img-size {
    height: 924px;
    width: 640px;
}

.container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.box {
    height: 924px;
    width: 640px;
    position: relative;

    i {
        font-size: 40px;
        padding: 1rem;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sconto {
        height: 30;
        width: 60;
        background-color: var(--bl-accent-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}









/*footer*/

footer {
    background-color: var(--bl-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 5rem;

    div {
        color: white;
    }
}