* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dashed;
}

:root {
    --bl-primary-color: #ff6900;
    --bl-secondary-color: #1a1a1a;
    --bl-accent-color: #ff0000;
    --bl-detail-color: #008000;
    --bl-lighter-color: #90877f;
}




/*header*/

header {
    background-color: var(--bl-primary-color);
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    a {
        color: white;
        display: inline;
        text-decoration: none;
        padding: 1rem;
    }

    a:hover {
        text-decoration: underline;
    }

    .boolean-logo {
        max-height: 40px;
    }

    i {
        color: white;
        padding: 1rem;
    }

}

/*main*/

.img-size {
    height: 924px;
    width: 640px;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box {

    width: 33, 333%;
    position: relative;

    .photo {
        position: relative;
    }

    .overlay>.detail {
        position: absolute;
    }



    i {
        font-size: 40px;
        padding: 1rem;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sconto {
        padding: 0.5rem;
        background-color: var(--bl-accent-color);
        position: absolute;
        bottom: 10%;
        left: 0;
    }

    .sust {
        padding: 0.5rem;
        background-color: var(--bl-detail-color);
        position: absolute;
        bottom: 10%;
        left: 20%;
    }

    .price {
        color: var(--bl-accent-color);
        font-size: 14px;
    }

    .brand {
        color: var(--bl-lighter-color);
    }
}









/*footer*/

footer {
    background-color: var(--bl-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 5rem;

    div {
        color: white;
    }
}